  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Proxima Nova", sans-serif;
  background: #FFFFFF;
  padding: 20px;
  max-width: 375px;
  margin: 0 auto;
}

/* HEADER */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.date-title {
  text-align: center;
  width: 100%;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-top: 10px;
}

/* PROGRESS */

.goal-number {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin: 15px 0;
}

.underlined {
  color: #000;
  text-decoration: underline;
}

/* NUTRIENTS */

.nutrients {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.nutrient {
  font-family: "Galindo", cursive;
  font-size: 25px;
  line-height: 20px;
}

/* MEAL ITEMS */

.meals-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.meal-item {
  font-size: 16px;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,0.08);
  background: #fff;
  font-weight: 400;
}

/* BUTTON */

.add-meal-btn {
  width: 303px;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  margin: 25px auto;
  border-radius: 12px;
  border: none;
  background: #F2763D;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
