
:root {
    --orange: #F2763D;
    --gray-bg: #F5F5F5;
    --text-dark: #000;
    --border-light: rgba(0, 0, 0, 0.08);
    --radius: 12px;

    --font-main: 'Proxima Nova', sans-serif;
    --font-emoji: 'Galindo', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: var(--font-main);
}

/* Header */

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid var(--orange);
    object-fit: cover;
}

/* Main */

.main-content {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Date */

.date {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: var(--orange);
    margin-top: 10px;
}

/* Norma box */

.norma-box {
    border: 1px solid var(--border-light);
    border-radius: var(--radius);
    padding: 10px 20px;
    width: max-content;
    margin: 20px auto;
    font-size: 16px;
    display: flex;
    gap: 4px;
}

.underline {
    text-decoration: underline;
}

/* Meals Section */

.meals {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.meal {
    display: flex;
    justify-content: space-between; /* ВАЖНО: текст слева, смайлы справа */
    align-items: center;
}

.meal-title {
    background: var(--gray-bg);
    border: 1px solid var(--border-light);
    border-radius: var(--radius);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    min-width: 120px;
    text-align: center;
}

.meal-emojis {
    font-family: var(--font-emoji);
    font-size: 25px;
    line-height: 20px;
}


/* Add button */

.add-btn {
    width: 100%;
    background: var(--orange);
    color: white;
    border: none;
    padding: 16px 0;
    margin: 40px 0;
    border-radius: var(--radius);
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
}
