:root {
  --primary-orange: #F2763D;
  --text-black: #000;
  --bg-light: #F5F5F5;
  --radius: 12px;
}

body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  font-family: "Proxima Nova", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.date {
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-orange);
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

.main {
  padding: 0 24px;
}

.norm-block {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black);
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--primary-orange);
}

.meals {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.meal-card {
  display: inline-flex;
  height: 44px;
  padding: 10px 11px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  border-radius: var(--radius);
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.meal-icon {
  font-family: "Galindo", cursive;
  font-size: 25px;
}

.meal-title {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-black);
}

.add-meal-btn {
  display: flex;
  width: 100%;
  padding: 16px 0;
  justify-content: center;
  border-radius: var(--radius);
  background: var(--primary-orange);
  color: white;
  font-size: 16px;
  border: none;
  margin-top: 32px;
}
